.container {
    position: absolute;
    top: 4rem;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    font-size: 1.8rem;
    max-height: 50rem;
    overflow-y: scroll;
}

.ul {
    list-style: none;
    padding: 2rem;
}

.ul li {
    margin-bottom: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.ul li span:last-child {
    margin-left: 2rem;
    color: var(--limeGreen);
}

.ul li:hover span {
    color: var(--dark-grey);
    font-weight: 700;
}

.ul li:hover {
    background-color: var(--limeGreen);
}