:root {
  --light-grey: #fafafa;
  --mild-grey: #ccc;
  --dark-grey: #343434;
  --limeGreen: #00FC87;

  --lato: 'Lato', sans-serif;
  --oswald: 'Oswald', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--lato);
  color: #fff;
  background-size: cover;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  min-height: 100vh;
  width: 75%;
}

@media only screen and (max-width: 67.75em) {
  .container {
    width: 95%;
  }
}